@{
    Layout = "_LayoutNoContent.cshtml";
    var resourceBasePath = ViewBag.ResourceBasePath;
    var myEmail = ViewBag.MyEmail;
}

@RenderBody()
<!-- Blog Sidebar Column -->
<div class="col-md-4">
    <div class="hidden-lg hidden-md hidden-sm">
        <br />
    </div>
    <div class="text-right hidden-xs">
        <a href="mailto:@myEmail?subject=Issue in site" title="Report Issues">
            <img src=@(resourceBasePath + "exclamation-mark-red-icon.png") alt="Exclamation" class="iconImage" />
        </a>
    </div>
    <div class="text-center profile-userpic">
        <img class="img-responsive" alt="Profile Picture" src=@(resourceBasePath + "RahulRai.png") />
        <br />
        <br />
        @Html.RouteLink("Hi, I am Rahul...", "Default", new { controller = "Profile", action = "ProfileContent" }, new { @class = "btn btn-success btn-sm" })
    </div>
</div>