@{
    var resourceBasePath = ViewBag.ResourceBasePath;
}

<div class="col-lg-8">
    <h1>Page Not Found</h1>
    <p class="lead">This page is lost from server!</p>
    <p>
        My apologies for any inconvenience caused to you. Kindly verify the URL or search for the article on this site.
    </p>
    <br />
    <p><img src=@(resourceBasePath + "page_lost_img.jpg") alt="Page Lost" class="img-responsive" /></p>
</div>