@{
    var resourceBasePath = ViewBag.ResourceBasePath;
}

<div class="col-lg-8">
    <h1>404</h1>
    <p class="lead">This page is lost!</p>
    <p>Maybe the link is dead. Please visit the homepage or search for articles.</p>
    <p><img src=@(resourceBasePath + "page_lost_img.jpg") alt="Page Lost" /></p>
</div>