<script type="text/javascript" src="~/Scripts/NotFound.js"></script>
<div class="col-lg-8">
    <h1>This page does not exist!</h1>
    <div class="panel panel-primary">
        <div class="panel-heading">Hi, this blog talks back..</div>
        <form name="textform" onload="type_text();">
            <div class="panel-body" id=""></div>
        </form>
    </div>
</div>