@{
    var resourceBasePath = ViewBag.ResourceBasePath;
}

<div class="col-lg-8">
    <h1>Page Not Found</h1>
    <p class="lead">This page is lost!</p>
    <p>
        The page you were trying to reach doesn't seem to exist.
        This is usually the result of a bad or outdated link. I apologize for any inconvenience.
    </p>
    <p>
        Please visit the homepage or search for articles.
    </p>
    <p><img src=@(resourceBasePath + "page_lost_img.jpg") alt="Page Lost" /></p>
</div>