@{
    Layout = "~/Views/Shared/_Profile.cshtml";
    var myEmail = ViewBag.MyEmail;
}
<h1>Contact</h1>
<hr>
<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Updated on June 30, 2015 at 9:00 PM</p>
<hr>
<div class="container-fluid text-center" id="link_other">
    <div class="row text-center">
        <div class="col-xs-3 text-center"><a href="https://www.facebook.com/moonytheloony"><img src="~/Content/Social/128/fb.png" alt="facebook" class="iconImage" /><br /><br />FOLLOW</a></div>
        <div class="col-xs-3 text-center"><a href="https://in.linkedin.com/in/rahulrahul"><img src="~/Content/Social/128/linkedin.png" alt="linkedin" class="iconImage" /><br /><br />CONNECT</a></div>
        <div class="col-xs-3 text-center"><a href="mailto:@myEmail"><img src="~/Content/Social/128/email.png" alt="email" class="iconImage" /><br /><br />MAIL</a></div>
        <div class="col-xs-3 text-center"><a href="skype:rahul.rai1986?call"><img src="~/Content/Social/128/skype.png" alt="skype" class="iconImage" /><br /><br />CALL</a></div>
    </div>
</div>
