@{
    Layout = "~/Views/Shared/_LayoutNoContent.cshtml";
    var resourceBasePath = ViewBag.ResourceBasePath;
    var myEmail = ViewBag.MyEmail;
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src="http://placehold.it/200X200" class="img-responsive" alt="">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Rahul Rai
                    </div>
                    <div class="profile-usertitle-job">
                        Architect<br />
                        Microsoft Technologies
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">
                            <a href="#">
                                <i class="glyphicon glyphicon-cog"></i>
                                Profile
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                Testimonials
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <i class="glyphicon glyphicon-user"></i>
                                Resume'
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-phone"></i>
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content">
                I am still working on it :)
            </div>
        </div>
    </div>
</div>