@{
    Layout = "~/Views/Shared/_LayoutNoContent.cshtml";
    var resourceBasePath = ViewBag.ResourceBasePath;
    var myEmail = ViewBag.MyEmail;
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <!-- SIDEBAR USERPIC -->
                <div class="profile-userpic">
                    <img src=@(resourceBasePath + "RahulRai.png") class="img-responsive" alt="Profile Picture">
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        Rahul Rai
                    </div>
                    <div class="profile-usertitle-job">
                        Architect<br />
                        Microsoft Technologies
                    </div>
                </div>
                <!-- END SIDEBAR USER TITLE -->
                <!-- SIDEBAR MENU -->
                <div class="profile-usermenu">
                    <ul class="nav">
                        <li class="active">

                            <a href="#">
                                <i class="glyphicon glyphicon-cog"></i>
                                @Ajax.RouteLink(
                                "Profile",
                                "Profile",
                                new { action = "GetProfileContent", id = "1" },
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "contentPane"
                                })
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                @Ajax.RouteLink(
                                "Testimonials",
                                "Profile",
                                new { action = "GetProfileContent", id = "2" },
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "contentPane"
                                })
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-user"></i>
                                @Ajax.RouteLink(
                                "Resume",
                                "Profile",
                                new { action = "GetProfileContent", id = "3" },
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "contentPane"
                                })
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="glyphicon glyphicon-phone"></i>
                                @Ajax.RouteLink(
                                "Contact",
                                "Profile",
                                new { action = "GetProfileContent", id = "4" },
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "contentPane"
                                })
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- END MENU -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="profile-content" id="contentPane">
                @*Partial View Rendered Here*@
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
    $('.nav li a').click(function (e) {
        var $this = $(this);
        if (!$this.hasClass('active')) {
            $this.addClass('active');
        }
        e.preventDefault();
    });
</script>