@{
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<h1>Profile</h1>
<hr>
<!-- Date/Time -->
<p>
    <span class="glyphicon glyphicon-time"></span> Updated on September 30, 2015 at 9:00 PM
</p>
<hr>
<p>
    I hold extensive experience of working on cloud and web technologies and currently work with <a href="http://readify.net/" target="_blank">Readify</a> as a Consultant in Sydney, Australia. I am passionate about emerging technologies and their applications to solve business problems. I am a reviewer of and contributor to several publications and open source projects. I have been regularly engaged in large scale and complex IT engagements in lead roles in which I have worked with multiple stakeholders and focus groups to deliver solutions in a cost effective manner.
</p>
<p>
    In my previous employment at <a href="https://www.microsoft.com/en-us/microsoftservices/about.aspx" target="_blank">Microsoft Services</a>, in addition to my role as a Consultant, I was a Microsoft Azure SME for Microsoft Services worldwide and Microsoft Services India. I have developed and contributed to multiple IP solutions and worked on several field readiness programs.
</p>
<p>
    I possess excellent communication, presentation and organizational skills through which I compile and disseminate knowledge to clients and other technology enthusiasts.

</p>
<link rel="prerender" href="@Url.RouteUrl("Profile", new { controller = "Profile", action = "Testimonials" })" />
<link rel="prerender" href="@Url.RouteUrl("Profile", new { controller = "Profile", action = "Resume" })" />
