@{
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<h1>Profile</h1>
<hr>
<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Updated on June 30, 2015 at 9:00 PM</p>
<hr>
<p>
    I have spent seven years working on cloud and web technologies. I am passionate about emerging technologies and their applications to solve business problems. I am a reviewer of and contributor to several publications and open source projects. I work as an Architect with <a href="http://www.nagarro.com/" target="_blank">Nagarro</a> where I design enterprise application and architecture frameworks. I have been regularly engaged in large scale and complex IT engagements in lead roles in which I have worked with multiple stakeholders and focus groups to deliver solutions in cost effective manner.
</p>
<p>
    I was a Microsoft Azure SME for <a href="https://www.microsoft.com/en-us/microsoftservices/about.aspx" target="_blank">Microsoft Services</a> worldwide and Microsoft Services India where I worked as a Consultant. I have developed and contributed to multiple IP solutions and worked on several field readiness programs.
</p>
<link rel="prerender" href="@Url.RouteUrl("Profile", new { controller = "Profile", action = "Testimonials" })" />
<link rel="prerender" href="@Url.RouteUrl("Profile", new { controller = "Profile", action = "Resume" })" />