@{
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<h1>Profile</h1>
<hr>
<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Updated on June 30, 2015 at 9:00 PM</p>
<hr>
<p>
    I hold seven years of experience working on cloud and web technologies. I am passionate about emerging technologies and their applications to solve business problems. I am a reviewer of and contributor to several publications and open source projects. In the capacity of cloud consultant, I assist architects with designing enterprise application and architecture frameworks. I have been regularly engaged in large scale and complex IT engagements in lead roles in which I have worked with multiple stakeholders and focus groups to deliver solutions in cost effective manner.
</p>
<p>
    I am a Microsoft Azure SME for Microsoft Services worldwide and Microsoft Services India. I have developed and contributed to multiple IP solutions and worked on several field readiness programs.
</p>
<p>
    I possess excellent communication, presentation and organizational skills through which I compile and disseminate knowledge to clients and other technology enthusiasts.
</p>
