@{
    Layout = "~/Views/Shared/_Profile.cshtml";
    var myEmail = ViewBag.MyEmail;
}
<h1>Publications</h1>
<hr>
<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Updated on June 30, 2015 at 9:00 PM</p>
<hr>
<div class="container">
    <div class="row">
        <div class="board">
            <div class="board-inner">
                <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                    <li class="active">
                        <a href="#books" data-toggle="tab" title="Books">
                            <span class="round-tabs one">
                                <i class="glyphicon glyphicon-book"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#articles" data-toggle="tab" title="Articles">
                            <span class="round-tabs two">
                                <i class="glyphicon glyphicon-file"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#talk" data-toggle="tab" title="Talk">
                            <span class="round-tabs three">
                                <i class="glyphicon glyphicon-volume-up"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#community" data-toggle="tab" title="Community">
                            <span class="round-tabs four">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#upcoming" data-toggle="tab" title="Upcoming">
                            <span class="round-tabs five">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="books">
                    <div class="text-right">
                        <a href="mailto:@myEmail?subject=Authoring or Revieweing Request" class="btn btn-success">Authoring & Reviewing Request<span style="margin-left:10px;" class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                    <div class="text-left">
                        <h1>Books</h1>
                    </div>
                    <div>
                        <a href="http://www.amazon.com/gp/product/1621140369/">
                            <h3>Cloud Design Patterns: Prescriptive Architecture Guidance for Cloud Applications</h3>
                        </a>
                        <div>
                            Publisher: Patterns and Practices
                        </div>
                        <div>
                            Contributor
                        </div>
                    </div>
                    <div>
                        <a href="http://www.amazon.com/Cloud-Architecture-Patterns-Using-Microsoft/dp/1449319777">
                            <h3>Cloud Architecture Patterns: Using Microsoft Azure</h3>
                        </a>
                        <div>
                            Publisher: O’Reilly
                        </div>
                        <div>
                            Reviewer
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="articles">
                    <div class="text-right">
                        <a href="mailto:@myEmail?subject=Authoring or Revieweing Request" class="btn btn-success">Authoring & Reviewing Request<span style="margin-left:10px;" class="glyphicon glyphicon-pencil"></span></a>
                    </div>
                    <div class="text-left">
                        <h1>Articles</h1>
                    </div>
                    <div>
                        <a href="#">
                            <h3>Reliable Uploads to Blob Storage via a Silverlight Control (Obsolete)</h3>
                        </a>
                        <div>
                            Publisher: MSDN
                        </div>
                        <div>
                            Author
                        </div>
                    </div>
                    <div>
                        <a href="https://msdn.microsoft.com/library/azure/hh824678.aspx">
                            <h3>Reliable Uploads to Blob Storage via an HTML5 Control</h3>
                        </a>
                        <div>
                            Publisher: MSDN
                        </div>
                        <div>
                            Author
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="talk">
                    <div class="text-right">
                        <a href="mailto:@myEmail?subject=Invite For a Talk" class="btn btn-success">Invite Me to Speak<span style="margin-left:10px;" class="glyphicon glyphicon-volume-up"></span></a>
                    </div>
                    <div class="text-left">
                        <h1>Talk</h1>
                    </div>
                    <div>
                        <a href="https://www.mytechready.com/">
                            <h3>TechReady</h3>
                        </a>
                        <div>
                            TechReady
                        </div>
                        <div>
                            Speaker
                        </div>
                    </div>
                    <div>
                        <a href="#">
                            <h3>Hybrid Application Architecture. Live Telecast.</h3>
                        </a>
                        <div>
                            Virtual Tech Days India
                        </div>
                        <div>
                            Speaker
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="community">
                    <div class="text-right">
                        <a href="mailto:@myEmail?subject=Invite For a Community Initiative" class="btn btn-success">Invite Me to Community Initiative<span style="margin-left:10px;" class="glyphicon glyphicon-user"></span></a>
                    </div>
                    <div class="text-left">
                        <h1>Community</h1>
                    </div>
                    <div>
                        <a href="https://msdn.microsoft.com/en-us/library/dn622074.aspx">
                            <h3>Cloud Design Patterns</h3>
                        </a>
                        <div>
                            Publisher: Patterns and Practices
                        </div>
                        <div>
                            Contributor
                        </div>
                    </div>
                    <div>
                        <a href="https://msdn.microsoft.com/en-us/library/jj613124(v=pandp.50).aspx">
                            <h3>Enterprise Library Integration Pack for Microsoft Azure</h3>
                        </a>
                        <div>
                            Publisher: Patterns and Practices
                        </div>
                        <div>
                            Contributor
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="upcoming">
                    <div class="text-right">
                        <a href="mailto:@myEmail?subject=Request to Join You" class="btn btn-success">Join Me in an Initiative<span style="margin-left:10px;" class="glyphicon glyphicon-calendar"></span></a>
                    </div>
                    <div class="text-left">
                        <h1>Upcoming</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


