@{
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<h1>Publications</h1>
<hr>
<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Updated on June 30, 2015 at 9:00 PM</p>
<hr>
<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>Books and Articles</b>
                </h3>
            </div>
            <div class="panel-body" id="link_other">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 ">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            B
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://www.amazon.com/Cloud-Architecture-Patterns-Using-Microsoft/dp/1449319777">
                                        Cloud Architecture Patterns: Using Microsoft Azure
                                    </a>
                                    <div class="mic-info">
                                        Publisher: O’Reilly
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Reviewer
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 ">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            B
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://www.amazon.com/gp/product/1621140369/">
                                        Cloud Design Patterns: Prescriptive Architecture Guidance for Cloud Applications
                                    </a>
                                    <div class="mic-info">
                                        Publisher: Patterns and Practices
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Contributor
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 ">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            A
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="#">
                                        Reliable Uploads to Blob Storage via a Silverlight Control (Obsolete)
                                    </a>
                                    <div class="mic-info">
                                        Publisher: MSDN
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Author
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 ">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            A
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="https://msdn.microsoft.com/library/azure/hh824678.aspx">
                                        Reliable Uploads to Blob Storage via an HTML5 Control
                                    </a>
                                    <div class="mic-info">
                                        Publisher: MSDN
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Author
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>Talk and Community</b>
                </h3>
            </div>
            <div class="panel-body" id="link_other">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 ">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            T
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="#">
                                        Hybrid Application Architecture. Live Telecast.
                                    </a>
                                    <div class="mic-info">
                                        Virtual Tech Days India
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Speaker
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 ">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            C
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="https://msdn.microsoft.com/en-us/library/jj613124(v=pandp.50).aspx">
                                        Enterprise Library Integration Pack for Microsoft Azure
                                    </a>
                                    <div class="mic-info">
                                        Publisher: Patterns and Practices
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Contributor
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 ">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            C
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="https://msdn.microsoft.com/en-us/library/dn622074.aspx">
                                        Cloud Design Patterns
                                    </a>
                                    <div class="mic-info">
                                        Publisher: Patterns and Practices
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Contributor
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 ">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            T
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="https://www.mytechready.com/">
                                        TechReady
                                    </a>
                                    <div class="mic-info">
                                        TechReady
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Speaker
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-warning widget">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>Upcoming</b>
                </h3>
            </div>
            <div class="panel-body" id="link_other">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            X
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




<!--Test content-->
<div class="container">
    <div class="row">
        <div class="board">
            <div class="board-inner">
                <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                    <li class="active">
                        <a href="#home" data-toggle="tab" title="welcome">
                            <span class="round-tabs one">
                                <i class="glyphicon glyphicon-book"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="#profile" data-toggle="tab" title="profile">
                            <span class="round-tabs two">
                                <i class="glyphicon glyphicon-file"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#messages" data-toggle="tab" title="bootsnipp goodies">
                            <span class="round-tabs three">
                                <i class="glyphicon glyphicon-gift"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="#settings" data-toggle="tab" title="blah blah">
                            <span class="round-tabs four">
                                <i class="glyphicon glyphicon-comment"></i>
                            </span>
                        </a>
                    </li>

                    <li>
                        <a href="#doner" data-toggle="tab" title="completed">
                            <span class="round-tabs five">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">

                    <h3 class="head text-center">Welcome to Bootsnipp<sup>™</sup> <span style="color:#f48260;">♥</span></h3>
                    <p class="narrow text-center">
                        Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                    </p>

                    <p class="text-center">
                        <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                </div>
                <div class="tab-pane fade" id="profile">
                    <h3 class="head text-center">Create a Bootsnipp<sup>™</sup> Profile</h3>
                    <p class="narrow text-center">
                        Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                    </p>

                    <p class="text-center">
                        <a href="" class="btn btn-success btn-outline-rounded green"> create your profile <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>

                </div>
                <div class="tab-pane fade" id="messages">
                    <h3 class="head text-center">Bootsnipp goodies</h3>
                    <p class="narrow text-center">
                        Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                    </p>

                    <p class="text-center">
                        <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                </div>
                <div class="tab-pane fade" id="settings">
                    <h3 class="head text-center">Drop comments!</h3>
                    <p class="narrow text-center">
                        Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                    </p>

                    <p class="text-center">
                        <a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
                    </p>
                </div>
                <div class="tab-pane fade" id="doner">
                    <div class="text-center">
                        <i class="img-intro icon-checkmark-circle"></i>
                    </div>
                    <h3 class="head text-center">thanks for staying tuned! <span style="color:#f48260;">♥</span> Bootstrap</h3>
                    <p class="narrow text-center">
                        Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</div>


