@{
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<h1>Publications</h1>
<hr>
<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Updated on June 30, 2015 at 9:00 PM</p>
<hr>
<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>Books and Articles</b>
                </h3>
            </div>
            <div class="panel-body" id="link_other">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 col-center">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            <b>B</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://www.amazon.com/Cloud-Architecture-Patterns-Using-Microsoft/dp/1449319777">
                                        Cloud Architecture Patterns: Using Microsoft Azure
                                    </a>
                                    <div class="mic-info">
                                        Publisher: O’Reilly
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Reviewer
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 col-center">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            <b>B</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://www.amazon.com/gp/product/1621140369/">
                                        Cloud Design Patterns: Prescriptive Architecture Guidance for Cloud Applications
                                    </a>
                                    <div class="mic-info">
                                        Publisher: Patterns and Practices
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Contributor
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 col-center">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            <b>A</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="#">
                                        Reliable Uploads to Blob Storage via a Silverlight Control (Obsolete)
                                    </a>
                                    <div class="mic-info">
                                        Publisher: MSDN
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Author
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 col-center">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            <b>A</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="https://msdn.microsoft.com/library/azure/hh824678.aspx">
                                        Reliable Uploads to Blob Storage via an HTML5 Control
                                    </a>
                                    <div class="mic-info">
                                        Publisher: MSDN
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Author
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-default widget">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>Talk and Community</b>
                </h3>
            </div>
            <div class="panel-body" id="link_other">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 col-center">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            <b>T</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="#">
                                        Hybrid Application Architecture. Live Telecast.
                                    </a>
                                    <div class="mic-info">
                                        Virtual Tech Days India
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Speaker
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 col-center">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            <b>C</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="https://msdn.microsoft.com/en-us/library/jj613124(v=pandp.50).aspx">
                                        Enterprise Library Integration Pack for Microsoft Azure
                                    </a>
                                    <div class="mic-info">
                                        Publisher: Patterns and Practices
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Contributor
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 col-center">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            <b>C</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="https://msdn.microsoft.com/en-us/library/dn622074.aspx">
                                        Cloud Design Patterns
                                    </a>
                                    <div class="mic-info">
                                        Publisher: Patterns and Practices
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Contributor
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 col-center">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            <b>T</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="https://www.mytechready.com/">
                                        TechReady
                                    </a>
                                    <div class="mic-info">
                                        TechReady
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Speaker
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="panel panel-warning widget">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>Upcoming</b>
                </h3>
            </div>
            <div class="panel-body" id="link_other">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1 col-center">
                                <div class="circle circle-border arrownAlign">
                                    <div class="circle-inner">
                                        <div class="inner-text">
                                            <b>X</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-md-11">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

