@using System.Configuration
@using RahulRai.Websites.Utilities.Common.RegularTypes
@using RahulRai.Websites.BlogSite.Web.UI.Models
@{
    Layout = "~/Views/Shared/_Profile.cshtml";
}

@model PassKey
<h1>Resume</h1>
<hr>
<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Updated on June 30, 2015 at 9:00 PM</p>
<hr>
@if (ViewBag.IsValid == null || ViewBag.IsValid != true)
{
    <div class="text-left container">
        <div class="row">
            <div class="col-xs-6">
                <h1>
                    <small>
                        Contact Me For a Pass Key
                    </small>
                </h1>
                <br />
            </div>
        </div>
        @using (Html.BeginRouteForm("Profile", new { action = "Resume", controller = "Profile" }))
        {
            if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
            {
                <div class="row">
                    <div class="col-xs-6">
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">x</a>
                            <h4>There are error in entries you made</h4>
                            @Html.ValidationSummary()
                        </div>
                        <script>
                            $(".validation-summary-errors").removeClass("validation-summary-errors");
                            $(".input-validation-error").removeClass("input-validation-error").parent().addClass("has-error");
                        </script>
                    </div>
                </div>
            }
            if (ViewBag.IsValid != null && ViewBag.IsValid == false)
            {
                <div class="row">
                    <div class="col-xs-6">
                        <div class="alert alert-danger">
                            <a href="#" class="close" data-dismiss="alert">x</a>
                            Your key is incorrect! Please try again.
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6">
                        @Html.LabelFor(element => element.Key)
                        @Html.TextBoxFor(element => element.Key, new { @class = "form-control" })
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-xs-6 text-right">
                        <input type="submit" class="btn btn-default btn-info" value="Submit" />
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="h_iframe hidden-xs">
        <!-- a transparent image is preferable -->
        <img class="ratio" src="http://placehold.it/16x20" width="16" height="20" alt="placeholder" />
        <iframe src="https://docs.google.com/viewer?srcid=@ConfigurationManager.AppSettings[ApplicationConstants.ResumeDocumentKey]&pid=explorer&efh=false&a=v&chrome=false&embedded=true" allowfullscreen></iframe>
    </div>
    <div class="visible-xs">
        Please use a higher resolution display to view this file.
    </div>
}