@{
    Layout = "~/Views/Shared/_Profile.cshtml";
}
@using System.Configuration
@using RahulRai.Websites.Utilities.Common.RegularTypes
<h1>Resume'</h1>
<hr>
<!-- Date/Time -->
<p><span class="glyphicon glyphicon-time"></span> Updated on June 30, 2015 at 9:00 PM</p>
<hr>
<div class="h_iframe hidden-xs">
    <!-- a transparent image is preferable -->
    <img class="ratio" src="http://placehold.it/16x40" alt="placeholder" />
    <iframe src="https://docs.google.com/viewer?srcid=@ConfigurationManager.AppSettings[ApplicationConstants.ResumeDocumentKey]&pid=explorer&efh=false&a=v&chrome=false&embedded=true" allowfullscreen></iframe>
</div>
<div class="visible-xs">
    Please use a higher resolution display to view this file.
</div>